<div class="form contact-w3-agileits">
<%= form_for @tourdetail do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.hidden_field :tour_id, value: @tour.id%>

    <%= f.hidden_field :user_id, value: @current_user.id%>
<center>
  <div class="styled-input">
    <p><span>Full Name: </span><%= @current_user.name_user %></p>
  </div>
  <div class="styled-input">
    <p><span>Telephone: </span><%= @current_user.tel %></p>
  </div>
  <div class="styled-input">
    <p><span>Email: </span><%= @current_user.email.downcase %></p>
  </div>
</center>
<div class="clearfix"></div>
<center>

  <div class="styled-input">
    <%= f.number_field :num_of_pass, min: Settings.tourdetails.book_tour.minnum, max: Settings.tourdetails.book_tour.maxnum, id: "num", onchange: "sum();"%>
  </div>

  <div class="styled-input">
    <p><span class = "fa fa-usd"></span>Total Price</p>
    <%= f.text_field :total_price, id: "total" %>
  </div>

</center>
<div class="clearfix"></div>
  <%= f.submit value: (t ".button") %>
<% end %>
</div>
