<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <nav class="row">
      <div class="logo col-md-3" data-toggle="tooltip" data-placement="bottom" title="Booking Tours With Us!">
        <%= link_to image_tag("logo.png", alt: "Booking Your Travel"), "http://localhost:3000/" %>
      </div>
      <div class="col-md-4">
        <ul class="nav navbar-nav menu-main">
        <li><%= link_to t(".home"), root_path, :class => "active" %></li>
        <li><%= link_to t(".tours"), tours_path %></li>
        <li><%= link_to t(".help"), "#" %></li>
        <li><%= link_to t(".contact"), "#" %></li>
      </ul>
      </div>
      <div class="col-md-4">
        <div class="nav navbar-nav navbar-right">
        <% if @current_user.present? %>
          <ul>
            <li></li>
            <li class="dropdown">
              <%= t ".hi" %><span><%= @current_user.name_user %></span>
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user icon-side-bar"></i><i class="fa fa-angle-down"></i>
              </a>
              <ul class="dropdown-menu dropdown-user">
                <li>
                  <i class="fa fa-user user-dropdown icon-side-bar"><%= link_to t(".user"), user_path(@current_user) %></i>
                </li>
                <li>
                  <i class="fa fa-cog user-dropdown icon-side-bar"><%= link_to t(".settings"), edit_user_path(@current_user) %></i>
                </li>
                <li class="divider"></li>
                <li><i class="fa fa-sign-out user-dropdown icon-side-bar"><%= link_to t(".logout"), logout_path %></i>
                </li>
              </ul>
            </li>
          </ul>
        <%else%>
          <ul>
            <li class = "clearfix"></li>
            <li><h5 class="login"><%= link_to t(".login"), login_path %></h5></li>
          </ul>
        <% end %>
        </div>
      <span class="clearfix"></span>
    </nav>
  </div>
</header>
